@font-face {
    font-family: "custom-font";
    src: url("custom-font.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

/* Rest of Stylesheet */

html, body {
  margin: 0;
  padding: 0;
}


body {
    font-family: "custom-font";
}

body {
    background-color: rgb(255, 255, 255);
}

.main-nav {
  position: absolute;
  margin-top: 10px;
  top: 20px;
  left: 30px;
  z-index: 1000;
  display: flex;
  gap: 40px;
  font-family: "custom-font", sans-serif;
  font-weight: normal;
  font-size: 25px;
}

.main-nav a {
  color: white;
  text-decoration: none;
  transition: color 0.3s ease;
}

.main-nav a:hover {
  color: orange;
}

h1 {
    font-size: 230px;
    margin-top: 0px;
    margin-bottom: 0px;
    font-weight: normal;
}

.hero-container {
  position: relative;
  height: auto;
  overflow: hidden;
}

.hero-text-wrapper {
  background-color: black;
  width: 100%;
}

.slideshow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.slideshow-section {
  position: relative;
  width: 100%;
  height: 1000px;
  overflow: hidden;
  background-color: #ccc;

}

.bg-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.bg-img.active {
  opacity: 1;
}

.slide-text {
  margin-top: 80px;
  display: inline-block;
  opacity: 0;
  transform: translateX(-50px);
  animation: slideIn 1s ease forwards;
}


.line1 {
  animation-delay: 0.2s;
  color: #e74500;
}
.line2 {
  animation-delay: 0.5s;
  margin-left: 180px;
  margin-top: -50px;
  color: #a63200;
}
.line3 {
  animation-delay: 0.8s;
  margin-left: 360px;
  margin-top: -50px;
  color: #712200;
}


@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}


.subhead {
    margin-top: 20px;
    margin-left: 1000px;
    font-size: 30px;
    max-width: 800px;
    white-space: nowrap;
    color: #712200;
    font-weight: normal;
}

.fontname {
    white-space: nowrap;
    font-size: 150px;
    color: black;
    margin-top: 220px;
    text-align: left;
    margin-bottom: 80px;
    margin-left: 130px;
    font-weight: normal;
}

.small-text {
  font-size: 50px;
  vertical-align: center; 
  margin-right: 12px; 
}
.tight-bent {
  letter-spacing: -0.001px;
  font-size: 200px;
  color:#a63200;
  font-weight: normal;
}


.bg-img {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }
  
  .hero-text {
    position: relative;
    z-index: 1;
    padding: 80px;
    color: rgb(0, 0, 0);
    max-width: 600px;
  }

  .inspiration-container {
    margin-top: 30px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px; 
  }
  
  .background-letter {
    font-size: 250px;
    color: rgba(200, 200, 200, 0.3); 
    font-family: "custom-font", sans-serif;
    flex-shrink: 0; 
    line-height: 0.8;
    margin-left: 300px;
  }

  .inspiration-section {
    padding-left: 80px;
    padding-right: 80px;
    margin-top: 200px;
  }
  
  .inspiration-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }
  
  .background-letter {
    font-size: 500px;
    color: rgba(184, 79, 13, 0.142); 
    font-family: "custom-font", sans-serif;
    line-height: 0.8;
    flex-shrink: 0;
    margin-left: 350px;
  }
  
  .inspiration-texts {
    max-width: 800px;
    margin-left: 150px;
    margin-top: -50px;
    color: #a63200;
  }
  
  .inspiration-title {
    font-size: 40px;
    font-weight: bold;
    color:#a63200;
    margin-bottom: 20px;
  
  }
  
  .inspiration-description {
    font-size: 20px;
    line-height: 1.5;
    color: black;
  }

  .alphabet-pick-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
  }

  .How-it-works {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 0px;
    color: #a63200;
  }

  .background-letter2 {
    font-size: 500px;
    color: rgba(184, 79, 13, 0.142);  
    font-family: "custom-font", sans-serif;
    line-height: 0.8;
    flex-shrink: 0;
    margin-left: 20px;
    margin-top: 150px;
  }
  
  .alphabet-pick-right {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
  }

  .alphabet-picker {
    margin-left: 80px;
    margin-top: 15px;
    margin-bottom: 0px;
    display: flex;
    gap: 16px;
    z-index: 10;
  }

  
  .glyph-btn {
    font-size: 24px;
    font-family: "custom-font", sans-serif;
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .glyph-btn:hover {
    font-size: 32px;
    color: rgb(250, 117, 0);
    transform: scale(1.1);
  }
  
.transition-wrapper {
  margin-top: 0px;
  margin-bottom: -250px;
}

  .transition-container {
    position: relative;
    width: 900px;
    height: 900px;
    margin: 0px auto 300px auto;
    overflow: hidden;
    cursor: pointer;
    transform: translateX(320px);
  }
  
  .plate {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1.2s ease, transform 1.2s ease;
  }
  
  .plate.show {
    opacity: 1;
  }
  
  /*
  .transforming {
    transform: scale(0.95) rotate(2deg);
  }
    */

    .voice-tone-container {
      margin-top: 230px;
      display: flex;
      align-items: flex-start;
    
    }

    .voice-tone {
      font-size: 40px;
      font-weight: bold;
      color: #a63200;
      margin-bottom: 20px;
      margin-left: -1420px;
      margin-top: 0px;
    }
  
    .background-letter3 {
      font-size: 500px;
      color: rgba(184, 79, 13, 0.142); 
      font-family: "custom-font", sans-serif;
      line-height: 0.8;
      flex-shrink: 0;
      margin-left: 1150px;
      margin-top: 70px;
    }
  
    .floating-keywords {
      position: relative;
      height: 300px;
      width: 100%;
      margin-top: 60px;
      margin-left:-1000px;
    }
    
    .keyword {
      position: absolute;
      font-size: 30px;
      color: black;
      font-family: "custom-font", sans-serif;
      animation: float 6s ease-in-out infinite;
      white-space: nowrap;
      animation: float 4s ease-in-out infinite;
      transition: transform 0.4s ease, color 0.3s ease, font-size 0.4s ease;
    }

    .keyword:hover {
      color:#e74500;
      font-size: 40px;
      transform: scale(1.1);
      z-index: 10;
    }
    
    .keyword1 { top: 80px; left: -310px; margin-left: -140px; animation-delay: 0s; }
    .keyword2 { top: 260px; left: -20px; animation-delay: 0.6s; }
    .keyword3 { top: 40px; left: 240px; animation-delay: 1.2s; }
    .keyword4 { top: 120px; left: 10x; margin-left: 430px; animation-delay: 1.8s; }
    .keyword5 { top: 360px; left: 70x; margin-left: 620px; animation-delay: 2.4s; }
    .keyword6 { top: 220px; left: 10x; margin-left: 830px; animation-delay: 3.0s; }
    
    @keyframes float {
      0% { transform: translateY(0px); }
      50% { transform: translateY(-40px); }
      100% { transform: translateY(0px); }
    }
    












  @media (max-width: 768px) {
    h1 {
      font-size: 80px;
    }
  
    .fontname {
      font-size: 50px;
      text-align: center;
    }
  
    .subhead {
      font-size: 20px;
    }
  
    .overlay-text {
      padding: 40px 20px;
    }
  
    .inspiration,
    .inspiration-description {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .application {
    white-space: nowrap;
    font-size: 150px;
    color: #a63200;
    margin-top: 400px;
    text-align: left;
    margin-bottom: 50px;
    margin-left: 130px;
    font-weight: normal;
}

.image-overlay-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.application-img {
  width: 100%;
  height: auto;
  display: block;
  transition: filter 0.4s ease;
}

.overlay-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 70px;
  
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
  font-family: "custom-font", sans-serif;
}

.image-overlay-wrapper:active .application-img {
  filter: blur(2px) brightness(0.5);
}

.image-overlay-wrapper:active .overlay-caption {
  opacity: 1;
}

.glyphset {
  white-space: nowrap;
  font-size: 150px;
  color: #a63200;
  margin-top: 300px;
  text-align: center;
  margin-bottom: 110px;
  font-weight: normal;
  
}

.glyphset-section {
  margin-top: 200px;
  text-align: center;
}

.glyph-row {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "custom-font", sans-serif;
}

.glyph-animate-container {
  background-color: black;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  margin-top:300px;
}

.glyph-animate {
  font-size: 900px;
  font-family: "custom-font", sans-serif;
  text-align: center;
  margin-top: 200px;
  color: #e74500;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 1000px;
  overflow: visible;
  display:flex;
  will-change: contents;
  backface-visibility: hidden;
  
}

.copyright-img {
  width: 10%;
  height: auto;
  text-align: center;
  display:block;
  margin: 0 auto;
  margin-top: 60px;
}


  



  